#Artistes-p1{
    margin-top: 70px;
	width: 100%;
    height: 55em;
    margin-top: 5%;
    padding: 0 10% 0 10%;
}

#Artistes-p1 h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    font-family: Georgia;
}


#imgArtiste {
    object-fit: cover;
    object-position: 50% 0;
    width: 200px;
    height: 200px;
    border-radius: 100% 100% 100% 100%;
}

#txtArtiste{
    padding: 15px 20px 15px 20px;
    font-family: 'Times New Roman';
    font-style: normal;
   font-size: 1.1em;
}


