#page-comite{
    margin-top: 70px;
}

#page-comite h1 {
	text-align: center;
	font-weight: bolder;
	font-size: 2.4em;
	font-family: Georgia;
}

#nomInvite {
    text-align: center;
    font-weight: bolder;
    font-size: 1.4em;
    font-family: Georgia;
}

#imgComite {
    object-fit: cover;
    object-position: 100% 0;
    width: 200px;
    height: 200px;
    border-radius: 100% 100% 100% 100%;
	margin : 5px 5px 5px 5px;
}

 #imgGraphe{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 220px;
 }
 
#txtComite{
	padding: 15px 20px 15px 20px;
	font-family: 'Times New Roman';
	font-style: normal;
	font-size: 1.2em;
}


