@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/* Custom page CSS
-------------------------------------------------- */
header h1 {
    font-family: 'Pacifico', cursive;
    vertical-align: middle;
}

header {
    /*padding-top: 0px !important; !! fixer ceci!*/
    background-image: url("../../assets/banner_homepage.jpg");
    background-size: cover;
    height: 550px;
    color: #000000;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

    header h1, header h2, header h3 a, header a, header a:hover {
        color: #2e2e2e;
        font-weight: 800;
        text-decoration: none;
    }

    header h3 {
        font-family: 'Kreon', serif;
        background: #ffcc33;
        padding: 10px;
        border-radius: 3px;
        font-size: 34px;
        padding: 12px 10px 6px 10px;
    }

/* customize nav style */


.divider {
    height: 100px;
}

.panel {
    border-width: 0;
}

@media (max-width: 990px) {
    header {
        height: 130px;
    }
}



#titre-p1 h1{
    text-align:center;
    font-weight: bolder;
    font-size: 3em;
    font-family: Georgia;
}
texte-p1{

}
#texte-p1 p {
    font-family: 'Times New Roman' !important;
	font-size: 1.2em;
    font-style: normal;
    margin-top: 10%;
    padding: 0 10% 0 10%;
}
#poster {
    float: right;
    margin: 0px 0px 0px 30px;
    width: 350px; 
    height: 467px;
}

/*#invites {
    position: relative;
    text-align: center;
    
}

#horaires {
    position: relative;
    text-align: center;
}
#nous-joindre {
    position: relative;
    text-align: center;
}

#rond {
    object-fit: cover;
    object-position: 100% 0;
    width: 200px;
    height: 200px;
    border-radius: 100% 100% 100% 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman';
    font-style: italic;
}
#rond:hover {
    opacity: 0.7;
}
.centered:hover{
    opacity: 100;
    z-index: 3;
}*/

