#page-inscription{
	margin-top: 70px;
}

#page-inscription h1 {
	text-align: center;
	font-weight: bolder;
	font-size: 2.4em;
	font-family: Georgia;
}

#txtInscription{
	padding: 15px 20px 15px 20px;
	font-family: 'Times New Roman';
	font-style: normal;
	font-size: 1.2em;
}
