#page-contact{
	margin-top: 70px;
	height: 55em;
}

#page-contact h1 {
	text-align: center;
	font-weight: bolder;
	font-size: 2.4em;
	font-family: Georgia;
}

#txtContact{
	padding: 15px 20px 15px 20px;
	font-family: 'Times New Roman';
	font-style: normal;
	font-size: 1.2em;
}