#page-proposer {
    margin-top: 70px;
}

    #page-proposer h1 {
        text-align: center;
        font-weight: bolder;
        font-size: 3em;
        font-family: Georgia;
    }

    #page-proposer h3 {
        padding: 15px 20px 15px 20px;
        text-align: left;
        font-weight: bolder;
        font-size: 1.4em;
        font-family: Georgia;
    }

#txtProposer {
    padding: 5px 20px 55px 20px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-size: 1.1em;
    margin-bottom: 20px;
}
