#page-proposer{
    margin-top: 70px;
	height:75em;
}

#page-proposer h1 {
	text-align: center;
	font-weight: bolder;
	font-size: 2.4em;
	font-family: Georgia;
}

#page-proposer h3 {
	padding: 15px 20px 15px 20px;
	text-align: left;
	font-weight: bolder;
	font-size: 1.4em;
	font-family: Georgia;
}

#txtProposer{
	padding: 5px 20px 55px 20px;
	font-family: 'Times New Roman';
	font-style: normal;
	font-size: 1.2em;
	margin-bottom: 20px;
}
* {
  box-sizing: border-box;
}

td{
	vertical-align:top;
	padding: 3px 3px 3px 3px;
	margin: 3px 3px 3px 3px;
}


input[type=text], select, textarea {
  width: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #EB5642;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

input[type=submit]:hover {
  background-color: #CCCC;
}


