


/*********************************/

/*Ceci change la couleur de selection*/
::selection {
    background: #fbe182; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #fbe182; /* Gecko Browsers */
}

.html {
    height: 100%;
}

body p {
    font-family: 'Times New Roman';
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

*{
    margin: 0;
    padding: 0;
}

.white { /*ceci donne la couleur blanche aux liens de la navbar*/
    color: white !important;
}

.white:hover {
    transition: 0.3s;
    opacity: 0.8;
}

#navbar-space{
    margin-left: 10em;
}

.navbar {
    background-color: #EB5642; /* #00827a*/
    opacity: 0.97;
    filter: alpha(opacity=97); /* For IE8 and earlier */
    box-shadow: 5px 1.5px 15px #4c4c4c;
    border-color: #EB5642;
}
li {
    font-family: Calibri;
    font-weight: bold;
}
#navbar-space{
    padding-top: 2%;
    
}

.page-standard {
    width: 100%;
    margin-top: 10%;
    padding: 0 10% 0 10%;
    margin-bottom: 10%;
}

.footer {
    background-color: #363636;
    box-shadow: inset 0px 0px 120px 10px #1b1b1b;
    color: white;
    font-family: Calibri;
    font-weight: bold;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-congress{
   font-weight: 900;
}

#ftc-top{
    margin-top: 1em;
}

#footer-list{
    margin-top: 2em;
    font-family: Calibri;
    color: white;
}
#footer-list a{
    color: white;
    text-transform: uppercase;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

body {
    padding-top: 40px;
}


#eco_friendly:hover {
    color: #006231 !important;
}

.page-standard h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    font-family: Georgia;
}

* {
    box-sizing: border-box;
}

    *:before,
    *:after {
        box-sizing: border-box;
    }

